.bar{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: black 3px solid;
    border-radius: 7px;
    height: 30px;
    width: 500px;
    margin-bottom: 30px;
    justify-content: center;
    box-shadow: black 10px 10px 5px  ;
}

.layout-bar{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

.layout-all{
    background-color: #e0e7ff;
    font-family: Arial, Helvetica, sans-serif;
}

.layout-level{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

.level-bar{
    background-color:  #ffd83b;
    border: 3px;
    border-radius: 7px;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 700px;
    line-height: 0.1;
    box-shadow: black 10px 10px 5px  ;
}

.layout-mentor{
    margin-top: 40px;
    display: flex;
    flex-direction:row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.gambar1{
    height: auto;
    width: 80%;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    border-radius: 8px;
}
.gambar2{
    height: auto;
    width: 80%;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 8px;
}
.gambar3{
    height: auto;
    width: 80%;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 8px;
}
.mentor1{
    background-color: white;
    border-radius: 7px;
    border: black 3px solid ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: black 10px 10px 5px  ;
}

.mentor2{
    background-color: #86efac;
    border-radius: 7px;
    border: black 3px solid ;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: black 10px 10px 5px  ;
}


.mentor3{
    background-color: #93c5fd;
    border-radius: 7px;
    border: black 3px solid ;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: black 10px 10px 5px  ;
}

.podcast{
    background-color: white;
    border: 10px;
    border-radius: 7px;
    padding: 15px;
    height: auto;
    width: 600px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    box-shadow: black 10px 10px 5px  ;
}
.video{
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    gap: 5px;
}

.audio{
    flex-direction: column;
    border-radius: 7px;
    gap: 5px;
}



.layout-podcast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout-form{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;  
}
.form{
    background-color: white;
    border-radius: 7px;
    border: 3px solid;
    height: 700px;
    width: 1000px;
    margin-top: 40px;
    margin-bottom: 30px;
    box-shadow: black 10px 10px 5px  ;
}